body {
  max-width: 768px;
  margin: 5% auto;
  font-family: "Arial";
  background-image: url("assets/background2.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-repeat: space;
}

#main {
  background-color: white;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

p{
  text-indent: 2em;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 110%;
}
